<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ajusta esto según la carpeta donde vivas tu proyecto
  RewriteBase /

  # Si no existe el archivo o directorio, redirige todo a index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>